<h1>Please log in</h1>
<form action="/gate/login">
  <input id="email" name="email" value="<%= @email %>"></input>
  <input id="password" name="password" type="password"></input>
  <input id="submit" type="submit"></input>
  <br/>
  <label for="email">email</label>
  <label for="password">password</label>

</form>
<style>
  label,
  input {
    width:240px;
    display:inline-block;
    font:18pt sans-serif;
  }
  input {
    margin-bottom:0;
  }
  label {
    font:bold 9pt sans-serif;
  }
</style>
